[submodule "Crux/3rdParty/GLFW"]
	path = Crux/3rdParty/GLFW
	url = https://github.com/glfw/glfw
[submodule "Crux/3rdParty/GLAD"]
	path = Crux/3rdParty/GLAD
	url = https://github.com/Dav1dde/glad
	ignore = dirty
[submodule "Crux/3rdParty/ImGui"]
	path = Crux/3rdParty/ImGui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
[submodule "Crux/3rdParty/GLM"]
	path = Crux/3rdParty/GLM
	url = https://github.com/g-truc/glm.git
